.message {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.imageAndText {
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: flex-end;
}

.imageAndText img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.imgWrapper {
    margin-left: 10px;
    padding-top: 25px;
    order: 2;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text:after {

}

.name {
    font-weight: bold;
    margin-bottom: 5px;
    justify-content: flex-end;
}

.messageText {
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

.time {
    padding-left: 10px;
    font-size: 0.8rem;
}